form {
    button {
        margin-bottom: 8px;
    }

    
}

.field-group {
    display: flex;
    justify-content: start;
    font-weight: bold;
    
    label {
        width: 50%;       
    }
    
    input[type=text], select {
        margin-bottom: 0px;
    }


}