body {
    font-size: 12px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: $blue-800;
    
}

h2 {
    font-size: 16px;
    font-weight: bold;
    color: $blue-800;
    
}

h4 {
    color: $blue-800;
}

h5 {
    color: $blue-800;
}

label {
    font-weight: 600;
}

.error-message {
    color:red;
}

small, .small {
    font-size: 0.775em;
}