#vertical-navbar {
    width: $verticalNavbarWidth;
    height: auto;
    min-height: 100vh;
    // position:absolute;
    // top: 0px;
    // left: 0px;
    background-color: $blue;
    padding-top: 10px;

    ul {
        list-style: none;
        text-align:center;
        margin-top: 10px;
        padding: 0px 5px;

        li {
            margin-top:10px;
            margin-bottom:15px;
            background-color: $blue;
            border-radius: 10px;
            padding: 5px 10px;

            &.active {
                background-color: $bright-blue;
            }

            &.pending {
                a {
                    color: $light-grey;
                    .icon {
                        background-color: $light-grey;
                    }
                }
            }

            a {
                display: flex;
                justify-content: start;
                align-items: center;
                color: white;
                text-decoration: none;
                text-align: left;

                .icon {
                    width: 15px;
                    height: 15px;
                    margin-right: 4px;
                }
                
            }
        }
    }    
}